.paging-box {
    font-size: 12px
}

.paging-box .disabled {
    display: none
}

.paging-box .current, .paging-box .dian, .paging-box .next, .paging-box .prev, .paging-box .tcd-number {
    color: #222;
    cursor: pointer;
    text-align: center;
    margin: 0 4px;
    text-decoration: none;
    line-height: 26px
}

.paging-box .current:hover, .paging-box .dian:hover, .paging-box .next:hover, .paging-box .prev:hover, .paging-box .tcd-number:hover {
    color: #00a1d6
}

.paging-box .current {
    color: #00a1d6;
    font-weight: 700
}

.paging-box .dian {
    cursor: default
}

.paging-box .dian:hover {
    color: #222
}

.paging-box .result {
    padding-right: 10px
}

.paging-box-big {
    font-size: 12px
}

.paging-box-big .disabled {
    display: none
}

.paging-box-big .current, .paging-box-big .dian, .paging-box-big .next, .paging-box-big .prev, .paging-box-big .tcd-number {
    color: #222;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: none;
    transition: all .2s;
    font-size: 14px;
    min-width: 15px;
    margin: 0 2px;
    padding: 0 10px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-decoration: none
}

.paging-box-big .current, .paging-box-big .current:hover, .paging-box-big .dian:hover, .paging-box-big .next:hover, .paging-box-big .prev:hover, .paging-box-big .tcd-number:hover {
    background: #00a1d6;
    color: #fff;
    border: 1px solid #00a1d6
}

.paging-box-big .dian {
    cursor: default;
    border-color: #fff
}

.paging-box-big .dian:hover {
    background: #fff;
    color: #222;
    border: 1px solid #fff
}

.paging-box-big .next, .paging-box-big .prev {
    padding: 0 15px
}

.paging-box-big .page-jump {
    float: right;
    color: #99a2aa;
    line-height: 36px
}

.paging-box-big .page-jump input {
    margin: 0 5px;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    margin-top: 7px;
    font-size: 12px;
    box-shadow: none;
    width: 24px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    text-align: center
}

.paging-box-big .page-jump input:focus {
    border-color: #00a1d6
}

/*.m-layer, .m_layer {*/
    /*position: absolute;*/
    /*clear: both;*/
    /*overflow: hidden;*/
    /*z-index: 999;*/
    /*border-radius: 4px;*/
    /*background-color: #858585;*/
    /*background-color: rgba(0, 0, 0, .8);*/
    /*color: #fff;*/
    /*min-width: 100px;*/
    /*max-width: 500px;*/
    /*font-size: 14px*/
/*}*/

/*.m-layer.scale-in, .m_layer.scale-in {*/
    /*-webkit-animation: scale-in .2s linear;*/
    /*animation: scale-in .2s linear*/
/*}*/

/*.m-layer.m-error, .m-layer.m-warning, .m_layer.m-error, .m_layer.m-warning {*/
    /*background-color: #e40c0c;*/
    /*background-color: rgba(228, 12, 12, .8)*/
/*}*/

/*.m-layer.m-error a, .m-layer.m-warning a, .m_layer.m-error a, .m_layer.m-warning a {*/
    /*color: #fff;*/
    /*text-decoration: underline*/
/*}*/

/*.m-layer.m-error.error, .m-layer.m-warning.error, .m_layer.m-error.error, .m_layer.m-warning.error {*/
    /*background-color: #e40c0c;*/
    /*font-size: 12px*/
/*}*/

/*.m-layer.m-error.error .bg, .m-layer.m-warning.error .bg, .m_layer.m-error.error .bg, .m_layer.m-warning.error .bg {*/
    /*padding: 0*/
/*}*/

/*.m-layer.m-error.error .bg .content, .m-layer.m-warning.error .bg .content, .m_layer.m-error.error .bg .content, .m_layer.m-warning.error .bg .content {*/
    /*border: none;*/
    /*background-color: transparent*/
/*}*/

/*.m-layer.m-error.error .bg .content .mini, .m-layer.m-warning.error .bg .content .mini, .m_layer.m-error.error .bg .content .mini, .m_layer.m-warning.error .bg .content .mini {*/
    /*padding: 1px 10px 1px 5px*/
/*}*/

/*.m-layer.m-error.error .content .mini i, .m-layer.m-warning.error .content .mini i, .m_layer.m-error.error .content .mini i, .m_layer.m-warning.error .content .mini i {*/
    /*display: inline-block;*/
    /**display: inline;*/
    /**zoom: 1;*/
    /*padding: 0;*/
    /*vertical-align: top;*/
    /*background: url(/upload/img/icons.png) -312px -27px no-repeat;*/
    /*width: 20px;*/
    /*height: 20px*/
/*}*/

/*.m-layer.m-button, .m_layer.m-button {*/
    /*background-color: #fff;*/
    /*border: 1px solid #e5e9ef;*/
    /*color: #222;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, .16);*/
    /*font-size: 12px*/
/*}*/

/*.m-layer.m-coin, .m_layer.m-coin {*/
    /*max-width: 340px;*/
    /*margin-left: -176px;*/
    /*padding: 30px*/
/*}*/

/*.m-layer.m-coin .coin-panel, .m_layer.m-coin .coin-panel {*/
    /*width: 280px*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav, .m_layer.m-coin .coin-panel .coin-nav {*/
    /*text-align: center;*/
    /*padding-bottom: 20px*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav.coin-nav-less, .m_layer.m-coin .coin-panel .coin-nav.coin-nav-less {*/
    /*margin: 0 -5px*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav.coin-nav-less .coin-nav-single, .m_layer.m-coin .coin-panel .coin-nav.coin-nav-less .coin-nav-single {*/
    /*margin: 0 5px*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav .coin-nav-single, .m_layer.m-coin .coin-panel .coin-nav .coin-nav-single {*/
    /*display: inline-block;*/
    /**display: inline;*/
    /**zoom: 1;*/
    /*color: #636c72;*/
    /*width: 36px;*/
    /*cursor: pointer;*/
    /*height: 36px;*/
    /*line-height: 36px;*/
    /*font-size: 14px;*/
    /*margin: 0 10px;*/
    /*border-radius: 36px;*/
    /*border: 1px solid #ccd0d7*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav .coin-nav-single .coin-nav-text, .m_layer.m-coin .coin-panel .coin-nav .coin-nav-single .coin-nav-text {*/
    /*font-size: 12px;*/
    /*display: none*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav .coin-nav-single.active, .m_layer.m-coin .coin-panel .coin-nav .coin-nav-single.active {*/
    /*color: #fff;*/
    /*border-color: #00a1d6;*/
    /*background-color: #00a1d6*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav .coin-nav-single.active:hover, .m_layer.m-coin .coin-panel .coin-nav .coin-nav-single.active:hover {*/
    /*color: #fff;*/
    /*border-color: #00a1d6*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav .coin-nav-single.active .coin-nav-text, .m_layer.m-coin .coin-panel .coin-nav .coin-nav-single.active .coin-nav-text {*/
    /*display: inline*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav .coin-nav-single:hover, .m_layer.m-coin .coin-panel .coin-nav .coin-nav-single:hover {*/
    /*color: #00a1d6;*/
    /*border-color: #00a1d6*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav .coin-nav-single.disabled, .m_layer.m-coin .coin-panel .coin-nav .coin-nav-single.disabled {*/
    /*color: #6d757a;*/
    /*background-color: #edf0f6;*/
    /*border-color: #edf0f6*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav .coin-nav-single.disabled:hover, .m_layer.m-coin .coin-panel .coin-nav .coin-nav-single.disabled:hover {*/
    /*color: #6d757a;*/
    /*background-color: #edf0f6;*/
    /*border-color: #acb3c2*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-nav .coin-nav-single.disabled.active, .m-layer.m-coin .coin-panel .coin-nav .coin-nav-single.disabled.active:hover, .m_layer.m-coin .coin-panel .coin-nav .coin-nav-single.disabled.active, .m_layer.m-coin .coin-panel .coin-nav .coin-nav-single.disabled.active:hover {*/
    /*color: #fff;*/
    /*background-color: #acb3c2;*/
    /*border-color: #acb3c2*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-main, .m_layer.m-coin .coin-panel .coin-main {*/
    /*margin: 0 0 36px;*/
    /*padding-top: 34px;*/
    /*border-top: 1px solid #e5e9ef*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-main.coin-error, .m_layer.m-coin .coin-panel .coin-main.coin-error {*/
    /*padding-top: 40px;*/
    /*padding-left: 82px;*/
    /*background: transparent url(/images/base/error.png) no-repeat 0 37px*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-main.coin-error .coin-main-sub, .m-layer.m-coin .coin-panel .coin-main.coin-error .coin-main-title, .m_layer.m-coin .coin-panel .coin-main.coin-error .coin-main-sub, .m_layer.m-coin .coin-panel .coin-main.coin-error .coin-main-title {*/
    /*text-align: left*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-main .coin-main-title, .m_layer.m-coin .coin-panel .coin-main .coin-main-title {*/
    /*text-align: center;*/
    /*color: #222;*/
    /*font-size: 20px;*/
    /*line-height: 20px*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-main .coin-main-title .coin-main-number, .m_layer.m-coin .coin-panel .coin-main .coin-main-title .coin-main-number {*/
    /*color: #00a1d6;*/
    /*font-size: 36px;*/
    /*padding: 0 5px;*/
    /*font-weight: 700*/
/*}*/

/*.m-layer.m-coin .coin-panel .coin-main .coin-main-sub, .m_layer.m-coin .coin-panel .coin-main .coin-main-sub {*/
    /*margin-top: 9px;*/
    /*font-size: 12px;*/
    /*line-height: 30px;*/
    /*color: #6d757a*/
/*}*/

/*.m-layer.m-coin .coin-panel .b-icon, .m_layer.m-coin .coin-panel .b-icon {*/
    /*background: transparent url(/images/base/icons.png) no-repeat 0 0;*/
    /*display: inline-block;*/
    /*width: 24px;*/
    /*height: 24px;*/
    /*line-height: 24px*/
/*}*/

/*.m-layer.m-coin .coin-panel .b-icon.icon-exp-round, .m_layer.m-coin .coin-panel .b-icon.icon-exp-round {*/
    /*background-position: -659px -981px*/
/*}*/

/*.m-layer.m-coin .coin-panel .b-icon.icon-coin-round, .m_layer.m-coin .coin-panel .b-icon.icon-coin-round {*/
    /*background-position: -659px -1045px*/
/*}*/

/*.m-layer.m-coin .bg .content .mini, .m_layer.m-coin .bg .content .mini {*/
    /*padding: 0*/
/*}*/

/*.m-layer.m-coin .bg .content .mini .btnbox .cancel, .m-layer.m-coin .bg .content .mini .btnbox .ok, .m_layer.m-coin .bg .content .mini .btnbox .cancel, .m_layer.m-coin .bg .content .mini .btnbox .ok {*/
    /*width: 128px;*/
    /*line-height: 30px;*/
    /*height: 30px;*/
    /*font-size: 14px*/
/*}*/

/*.m-layer.m-coin .bg .content .mini .btnbox .cancel.disabled, .m-layer.m-coin .bg .content .mini .btnbox .ok.disabled, .m_layer.m-coin .bg .content .mini .btnbox .cancel.disabled, .m_layer.m-coin .bg .content .mini .btnbox .ok.disabled {*/
    /*cursor: default*/
/*}*/

/*.m-layer.m-finish, .m-layer.m-loading, .m_layer.m-finish, .m_layer.m-loading {*/
    /*background-image: none;*/
    /*font-size: 12px*/
/*}*/

/*.m-layer.m-finish .bg .content .mini, .m-layer.m-loading .bg .content .mini, .m_layer.m-finish .bg .content .mini, .m_layer.m-loading .bg .content .mini {*/
    /*padding: 5px 20px*/
/*}*/

/*.m-layer .bg, .m_layer .bg {*/
    /*padding: 0 !important*/
/*}*/

/*.m-layer .bg .content, .m_layer .bg .content {*/
    /*position: relative;*/
    /*border-radius: 4px*/
/*}*/

/*.m-layer .bg .content .mini, .m_layer .bg .content .mini {*/
    /*text-align: center;*/
    /*padding: 10px 20px;*/
    /*margin: 0 !important*/
/*}*/

/*.m-layer .bg .content .mini .msg-text, .m_layer .bg .content .mini .msg-text {*/
    /*line-height: 20px*/
/*}*/

/*.m-layer .bg .content .mini .btnbox, .m_layer .bg .content .mini .btnbox {*/
    /*clear: both;*/
    /*margin-top: 10px*/
/*}*/

/*.m-layer .bg .content .mini .btnbox .b-btn, .m-layer .bg .content .mini .btnbox .b-btn-cancel, .m_layer .bg .content .mini .btnbox .b-btn, .m_layer .bg .content .mini .btnbox .b-btn-cancel {*/
    /*display: inline-block;*/
    /**display: inline;*/
    /**zoom: 1;*/
    /*vertical-align: top;*/
    /*line-height: 20px;*/
    /*height: 20px;*/
    /*width: 40px*/
/*}*/

/*.m-layer .bg .content .mini .btnbox .button, .m_layer .bg .content .mini .btnbox .button {*/
    /*padding: 4px 7px 6px 6px;*/
    /*margin: 4px*/
/*}*/

/*.m-layer .bg .content .mini .btnbox .ok, .m_layer .bg .content .mini .btnbox .ok {*/
    /*margin-right: 20px*/
/*}*/

/*.m-layer .bg .content .mini .minput, .m_layer .bg .content .mini .minput {*/
    /*width: 40px;*/
    /*text-align: center;*/
    /*color: #99a2aa;*/
    /*font-family: sisum;*/
    /*font-size: 11px;*/
    /*margin: 0 5px 0 2px*/
/*}*/

/*.m-layer .bg .content i, .m_layer .bg .content i {*/
    /*margin-right: 5px;*/
    /*display: none*/
/*}*/

/*.m-layer .bg .content .error, .m_layer .bg .content .error {*/
    /*background-position: -50px -50px*/
/*}*/

/*.m-layer .bg .content .ok, .m_layer .bg .content .ok {*/
    /*background-position: 0 0*/
/*}*/

/*.m-layer .bg .content .warning, .m_layer .bg .content .warning {*/
    /*background-position: -50px -100px*/
/*}*/

/*.m-layer .bg .content .question, .m_layer .bg .content .question {*/
    /*background-position: -50px -150px*/
/*}*/

/*.m-layer .bg .content .msg, .m_layer .bg .content .msg {*/
    /*background-position: 0 -200px*/
/*}*/

/*.m-layer .b-btn {*/
    /*color: #fff;*/
    /*cursor: pointer;*/
    /*text-align: center;*/
    /*border-radius: 4px;*/
    /*background-color: #00a1d6;*/
    /*vertical-align: middle;*/
    /*border: 1px solid #00a1d6;*/
    /*transition: .1s;*/
    /*transition-property: background-color, border, color;*/
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none*/
/*}*/

/*.m-layer .b-btn:hover {*/
    /*background-color: #00b5e5;*/
    /*border-color: #00b5e5*/
/*}*/

/*.emoji-box {*/
    /*font-size: 12px;*/
    /*font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;*/
    /*color: #222;*/
    /*overflow: visible;*/
    /*background: #fff;*/
    /*border: 1px solid #ccd0d7;*/
    /*box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .14);*/
    /*margin-top: 7px;*/
    /*margin-bottom: 10px;*/
    /*border-radius: 4px;*/
    /*width: 386px;*/
    /*position: absolute;*/
    /*top: 25px;*/
    /*z-index: 103*/
/*}*/

/*.emoji-box:before {*/
    /*content: "";*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: -5px;*/
    /*left: 30px;*/
    /*width: 8px;*/
    /*height: 5px;*/
    /*background: url(../../dist/images/arrow.png) 0 -49px no-repeat*/
/*}*/

/*.emoji-box .emoji-title {*/
    /*margin: 8px 18px 0;*/
    /*color: #99a2aa*/
/*}*/

/*.emoji-box .emoji-wrap {*/
    /*margin: 4px 8px 8px;*/
    /*height: 152px;*/
    /*overflow: auto*/
/*}*/

/*.emoji-box .emoji-wrap img {*/
    /*margin: 5px;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*cursor: pointer*/
/*}*/

/*.emoji-box .emoji-text {*/
    /*color: #111;*/
    /*border-radius: 4px;*/
    /*transition: background .2s;*/
    /*display: inline-block;*/
    /*padding: 3px 5px;*/
    /*margin: 2px 3px;*/
    /*outline: 0;*/
    /*text-decoration: none;*/
    /*cursor: pointer*/
/*}*/

/*.emoji-box .emoji-text:hover {*/
    /*background-color: #ddd*/
/*}*/

/*.emoji-box .emoji-tabs {*/
    /*position: relative;*/
    /*height: 38px;*/
    /*overflow: hidden;*/
    /*background-color: #f4f5f7;*/
    /*border-radius: 0 0 4px 4px*/
/*}*/

/*.emoji-box .emoji-tabs .emoji-container {*/
    /*width: 322px;*/
    /*overflow: hidden*/
/*}*/

/*.emoji-box .emoji-tabs .emoji-tab-wrap {*/
    /*position: relative*/
/*}*/

/*.emoji-box .emoji-tabs .emoji-tab-slider {*/
    /*position: absolute;*/
    /*right: 14px;*/
    /*top: 8px;*/
    /*width: 32px;*/
    /*height: 22px*/
/*}*/

/*.emoji-box .emoji-tabs .emoji-tab-slider span {*/
    /*float: left;*/
    /*width: 16px;*/
    /*height: 22px;*/
    /*background-image: url(icons-comment.png);*/
    /*background-repeat: no-repeat;*/
    /*cursor: default*/
/*}*/

/*.emoji-box .emoji-tabs .emoji-tab-slider .prev {*/
    /*background-position: -536px -213px*/
/*}*/

/*.emoji-box .emoji-tabs .emoji-tab-slider .next {*/
    /*background-position: -536px -149px*/
/*}*/

/*.emoji-box .emoji-tabs .emoji-tab-slider .prev.on {*/
    /*background-position: -408px -213px;*/
    /*cursor: pointer*/
/*}*/

/*.emoji-box .emoji-tabs .emoji-tab-slider .prev.on:hover {*/
    /*background-position: -472px -213px*/
/*}*/

/*.emoji-box .emoji-tabs .emoji-tab-slider .next.on {*/
    /*background-position: -408px -149px;*/
    /*cursor: pointer*/
/*}*/

/*.emoji-box .emoji-tabs .emoji-tab-slider .next.on:hover {*/
    /*background-position: -472px -149px*/
/*}*/

/*.emoji-box .emoji-tabs .tab-link {*/
    /*float: left;*/
    /*padding: 8px 12px;*/
    /*width: 22px;*/
    /*height: 22px*/
/*}*/

/*.emoji-box .emoji-tabs .tab-link.on {*/
    /*background-color: #fff*/
/*}*/

/*.emoji-box .emoji-tabs .tab-link img {*/
    /*width: 22px;*/
    /*heigth: 22px*/
/*}*/

/*.user-card {*/
    /*font-size: 12px;*/
    /*position: absolute;*/
    /*z-index: 9999;*/
    /*padding: 15px 20px;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, .16);*/
    /*border: 1px solid #e5e9ef;*/
    /*border-radius: 4px;*/
    /*width: 335px;*/
    /*background: #fff*/
/*}*/

/*.user-card a {*/
    /*text-decoration: none*/
/*}*/

/*.user-card p {*/
    /*margin: 0*/
/*}*/

/*.user-card .bg {*/
    /*position: absolute;*/
    /*width: 375px;*/
    /*height: 120px;*/
    /*top: 0;*/
    /*left: 0;*/
    /*border-radius: 4px 4px 0 0;*/
    /*overflow: hidden;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50%*/
/*}*/

/*.user-card .face {*/
    /*left: 20px;*/
    /*top: 100px;*/
    /*position: absolute;*/
    /*border: 2px solid #fff;*/
    /*border-radius: 50%;*/
    /*width: 50px;*/
    /*height: 50px*/
/*}*/

/*.user-card .face img {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*border-radius: 50%*/
/*}*/

/*.user-card .face .auth {*/
    /*position: absolute;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*right: 0;*/
    /*top: 34px;*/
    /*background: url(../../dist/images/user-auth.png);*/
    /*background-repeat: no-repeat*/
/*}*/

/*.user-card .face .p-auth {*/
    /*background-position: -38px -53px*/
/*}*/

/*.user-card .face .o-auth {*/
    /*background-position: -4px -53px*/
/*}*/

/*.user-card .info {*/
    /*padding: 105px 0 19px 65px*/
/*}*/

/*.user-card .info p {*/
    /*margin: 0;*/
    /*color: #222*/
/*}*/

/*.user-card .info .sign {*/
    /*line-height: 16px;*/
    /*margin-top: 11px;*/
    /*color: #99a2aa;*/
    /*word-break: break-all;*/
    /*word-wrap: break-word*/
/*}*/

/*.user-card .info .social a {*/
    /*color: #222*/
/*}*/

/*.user-card .info .user {*/
    /*font-size: 14px;*/
    /*font-weight: 700;*/
    /*margin: 12px 0*/
/*}*/

/*.user-card .info .user .name {*/
    /*color: #222*/
/*}*/

/*.user-card .info .user .sex {*/
    /*background: url(icons-comment.png) no-repeat;*/
    /*margin-left: 6px;*/
    /*width: 15px;*/
    /*height: 13px;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*top: 1px*/
/*}*/

/*.user-card .info .user .sex.men {*/
    /*background-position: -25px -665px*/
/*}*/

/*.user-card .info .user .sex.women {*/
    /*background-position: -25px -729px*/
/*}*/

/*.user-card .info .like {*/
    /*margin-right: 20px*/
/*}*/

/*.user-card .info .level {*/
    /*display: inline-block;*/
    /*width: 19px;*/
    /*height: 9px;*/
    /*vertical-align: middle;*/
    /*margin-left: 8px;*/
    /*background: url(icons-comment.png) no-repeat*/
/*}*/

/*.user-card .info .level.l0 {*/
    /*background-position: -23px -28px*/
/*}*/

/*.user-card .info .level.l1 {*/
    /*background-position: -23px -92px*/
/*}*/

/*.user-card .info .level.l2 {*/
    /*background-position: -23px -156px*/
/*}*/

/*.user-card .info .level.l3 {*/
    /*background-position: -23px -220px*/
/*}*/

/*.user-card .info .level.l4 {*/
    /*background-position: -23px -284px*/
/*}*/

/*.user-card .info .level.l5 {*/
    /*background-position: -23px -348px*/
/*}*/

/*.user-card .info .level.l6 {*/
    /*background-position: -23px -412px*/
/*}*/

/*.user-card .info .level.l7 {*/
    /*background-position: -23px -476px*/
/*}*/

/*.user-card .info .level.l8 {*/
    /*background-position: -23px -540px*/
/*}*/

/*.user-card .info .level.l9 {*/
    /*background-position: -23px -604px*/
/*}*/

/*.user-card .btn-box {*/
    /*padding: 0 0 0 65px*/
/*}*/

/*.user-card .btn-box a {*/
    /*display: inline-block;*/
    /*cursor: pointer;*/
    /*text-decoration: none;*/
    /*width: 80px;*/
    /*height: 24px;*/
    /*line-height: 24px;*/
    /*text-align: center;*/
    /*border: 1px solid #ccd0d7;*/
    /*margin-right: 20px;*/
    /*border-radius: 3px;*/
    /*color: #6d757a;*/
    /*transition: all .3s;*/
    /*background-color: #e5e9ef*/
/*}*/

/*.user-card .btn-box a:hover {*/
    /*border-color: #00b5e5;*/
    /*color: #00a1d6*/
/*}*/

/*.user-card .btn-box .like {*/
    /*color: #fff;*/
    /*font-weight: 400;*/
    /*border-color: #00a1d6;*/
    /*background-color: #00a1d6*/
/*}*/

/*.user-card .btn-box .like:hover {*/
    /*border-color: #00b5e5;*/
    /*background-color: #00b5e5;*/
    /*color: #fff*/
/*}*/

/*.user-card .btn-box .hover-text {*/
    /*display: none*/
/*}*/

/*.user-card .btn-box .like.liked:hover, .user-card .btn-box .liked {*/
    /*background-color: #e5e9ef;*/
    /*border-color: #e5e9ef;*/
    /*color: #6d757a*/
/*}*/

/*.user-card .btn-box .like.liked:hover .default-text {*/
    /*display: none*/
/*}*/

/*.user-card .btn-box .like.liked:hover .hover-text {*/
    /*display: inline-block*/
/*}*/

/*.user-card .btn-box .message {*/
    /*background-color: #fff*/
/*}*/

/*.user-card .vip-red-name {*/
    /*color: #fb7299 !important*/
/*}*/





.comment-box {
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    zoom: 1;
    min-height: 100px;
    background: #fff
}

.comment-box p {
    margin: 0;
    padding: 0
}

.comment-box li, .comment-box ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.comment-box .clearfix {
    zoom: 1
}

.comment-box .clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    font-size: 0
}

.comment-box img {
    border: none;
    vertical-align: middle
}

.comment-box a {
    outline: none;
    color: #00a1d6;
    text-decoration: none;
    cursor: pointer
}

.comment-box a:hover {
    color: #f25d8e
}

.comment-box a:focus {
    -moz-outline-style: none
}

.comment-box textarea {
    outline: none;
    resize: none
}

.comment-box .comment-header {
    margin: 0 0 24px;
    border-bottom: 1px solid #e5e9ef
}

.comment-box .comment-header .tabs-order {
    float: left;
    margin-bottom: -1px;
}

.comment-box .comment-header .tabs-order li {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    padding: 8px 0;
    margin-right: 16px;
    border-bottom: 1px solid transparent;
    position: relative;
    float: left;
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #222
}

.comment-box .comment-header .tabs-order li.hot-sort {
    display: none
}

.comment-box .comment-header .tabs-order li:last-child {
    margin: 0 16px
}

.comment-box .comment-header .tabs-order li:hover {
    color: #00a1d6
}

.comment-box .comment-header .tabs-order li.on {
    color: #00a1d6
}

.comment-box .comment-header .header-page {
    float: right;
    line-height: 36px
}

.comment-box .comment-send {
    margin: 10px 0
}

.comment-box .comment-send .user-face {
    float: left;
    margin: 7px 0 0 5px;
    position: relative
}

.comment-box .comment-send .user-face .user-head {
    width: 48px;
    height: 48px;
    border-radius: 50%
}

.comment-box .comment-send .user-face .pendant {
    width: 86px;
    height: 86px;
    border-radius: 0;
    position: absolute;
    top: -19px;
    left: -19px
}

.comment-box .comment-send .textarea-container {
    position: relative;
    margin-left: 85px;
    margin-right: 80px
}

.comment-box .comment-send .textarea-container textarea {
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f4f5f7;
    border: 1px solid #e5e9ef;
    overflow: auto;
    border-radius: 4px;
    color: #555;
    width: 100% !important;
    height: 65px;
    transition: 0s;
    padding: 5px 10px;
    line-height: normal
}

.comment-box .comment-send .textarea-container .ipt-arrow {
    position: absolute;
    left: -12px;
    top: 22px;
    background: url(../img/icons-comment.png) -395px -340px no-repeat;
    width: 13px;
    height: 20px;
    display: inline-block;
    z-index: 2
}

.comment-box .comment-send .textarea-container.focus textarea, .comment-box .comment-send .textarea-container:hover textarea {
    background-color: #fff;
    border-color: #00a1d6
}

.comment-box .comment-send .textarea-container.focus .ipt-arrow, .comment-box .comment-send .textarea-container:hover .ipt-arrow {
    background-position: -395px -404px
}

.comment-box .comment-send .textarea-container.error textarea {
    background-color: #fff;
    border-color: #e40c0c
}

.comment-box .comment-send .textarea-container.error .ipt-arrow {
    background-position: -395px -474px
}

.comment-box .comment-send .comment-submit {
    width: 70px;
    height: 64px;
    position: absolute;
    right: -80px;
    top: 0;
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    min-width: 60px;
    vertical-align: top;
    cursor: pointer;
    background-color: #00a1d6;
    border: 1px solid #00a1d6;
    transition: .1s;
    user-select: none;
    outline: none
}

.comment-box .comment-send .comment-submit:hover {
    background-color: #00b5e5;
    border-color: #00b5e5
}

.comment-box .comment-send .comment-submit.disabled {
    color: #b8c0cc;
    background-color: #e5e9ef;
    border-color: #e5e9ef;
    padding: 4px 10px
}

.comment-box .comment-send .comment-emoji {
    padding: 0;
    width: 66px;
    height: 24px;
    color: #99a2aa;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    position: relative;
    z-index: 101;
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    margin-left: 86px;
    margin-top: 3px;
    cursor: pointer
}

.comment-box .comment-send .comment-emoji .face {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: url(../img/icons-comment.png) no-repeat -408px -24px
}

.comment-box .comment-send .comment-emoji .text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-size: 12px !important
}

.comment-box .comment-send .comment-emoji.open, .comment-box .comment-send .comment-emoji:hover {
    color: #6d757a
}

.comment-box .comment-send .comment-emoji.open .face, .comment-box .comment-send .comment-emoji:hover .face {
    background-position: -472px -24px
}

.comment-box .comment-send .baffle {
    display: none
}

.comment-box .no-login {
    position: relative
}

.comment-box .no-login ::-webkit-input-placeholder {
    color: #e5e9ef
}

.comment-box .no-login .textarea-container textarea {
    background-color: #e5e9ef
}

.comment-box .no-login .textarea-container .ipt-arrow {
    background-position: -395px -538px
}

.comment-box .no-login .textarea-container.focus textarea, .comment-box .no-login .textarea-container:hover textarea {
    background-color: #e5e9ef;
    border-color: #e5e9ef
}

.comment-box .no-login .textarea-container.focus .ipt-arrow, .comment-box .no-login .textarea-container:hover .ipt-arrow {
    background-position: -395px -538px
}

.comment-box .no-login .comment-submit {
    cursor: default;
    background-color: #e5e9ef !important;
    border-color: #e5e9ef !important;
    color: #b8c0cc !important
}

.comment-box .no-login .comment-emoji {
    background-color: #e5e9ef
}

.comment-box .no-login .baffle {
    display: block;
    position: absolute;
    z-index: 102;
    width: 100%;
    top: 0;
    line-height: 64px;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    color: #777;
    background-color: #e5e9ef;
    overflow: hidden
}

.comment-box .no-login .baffle .b-btn {
    padding: 4px 9px;
    margin: 0 3px;
    color: #fff;
    background-color: #00a1d6;
    border-radius: 4px
}

.comment-box .no-login .baffle .b-btn:hover {
    background-color: #00b5e5
}

.comment-box .comment-list {
    padding-top: 20px
}

.comment-box .comment-list .quote {
    margin: 16px auto;
    background: #f4f5f7;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    padding: 10px;
    overflow: auto
}

.comment-box .comment-list .list-item .user-face {
    float: left;
    margin: 24px 0 0 5px;
    position: relative
}

.comment-box .comment-list .list-item .user-face img {
    width: 48px;
    height: 48px;
    border-radius: 50%
}

.comment-box .comment-list .list-item .user-face .pendant {
    width: 86px;
    height: 86px;
    position: absolute;
    top: -19px;
    left: -19px;
    display: block
}

.comment-box .comment-list .list-item .user-face .pendant img {
    border: 0;
    border-radius: 0;
    width: 86px;
    height: 86px
}

.comment-box .comment-list .list-item .user-face .hot-follow {
    text-align: center;
    position: relative;
    top: 18px
}

.comment-box .comment-list .list-item .user-face .hot-follow .follow-btn {
    width: 48px;
    height: 24px;
    color: #fff;
    font-size: 12px;
    background-color: #00a1d6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none
}

.comment-box .comment-list .list-item .user-face .hot-follow .follow-btn:hover {
    background-color: #00b5e5
}

.comment-box .comment-list .list-item .user-face .hot-follow .follow-btn.followed {
    background: #e5e9ef;
    color: #6d757a
}

.comment-box .comment-list .list-item .con {
    position: relative;
    margin-left: 85px;
    padding: 22px 0 14px;
    border-top: 1px solid #e5e9ef
}

.comment-box .comment-list .list-item .con .hidden-reply-toggle, .comment-box .comment-list .list-item .con .quote {
    font-size: 14px
}

.comment-box .comment-list .list-item:last-child .con {
    border-bottom: 1px solid #e5e9ef
}

.comment-box .comment-list .list-item .no-border {
    border-top: none
}

.comment-box .comment-list .list-item .user {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 4px;
    display: block;
    word-wrap: break-word
}

.comment-box .comment-list .list-item .user .level {
    display: inline-block;
    width: 19px;
    height: 9px;
    vertical-align: middle;
    margin: 0 8px;
    background: url(../img/icons-comment.png) no-repeat
}

.comment-box .comment-list .list-item .user .level.l0 {
    background-position: -23px -28px
}

.comment-box .comment-list .list-item .user .level.l1 {
    background-position: -23px -92px
}

.comment-box .comment-list .list-item .user .level.l2 {
    background-position: -23px -156px
}

.comment-box .comment-list .list-item .user .level.l3 {
    background-position: -23px -220px
}

.comment-box .comment-list .list-item .user .level.l4 {
    background-position: -23px -284px
}

.comment-box .comment-list .list-item .user .level.l5 {
    background-position: -23px -348px
}

.comment-box .comment-list .list-item .user .level.l6 {
    background-position: -23px -412px
}

.comment-box .comment-list .list-item .user .level.l7 {
    background-position: -23px -476px
}

.comment-box .comment-list .list-item .user .level.l8 {
    background-position: -23px -540px
}

.comment-box .comment-list .list-item .user .level.l9 {
    background-position: -23px -604px
}

.comment-box .comment-list .list-item .user > a {
    vertical-align: middle
}

.comment-box .comment-list .list-item .user .name {
    color: #6d757a
}

.comment-box .comment-list .list-item .user .name:hover {
    color: #00a1d6
}

.comment-box .comment-list .list-item .user .text-con {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px
}

.comment-box .comment-list .list-item .identity {
    display: inline-block;
    width: 34px;
    height: 18px;
    background: #fb7299;
    border-radius: 2px;
    text-align: center;
    line-height: 18px;
    font-style: normal;
    color: #fff;
    margin-right: 5px;
    font-weight: 400
}

.comment-box .comment-list .list-item .identity.true-love {
    background: #f25d8e
}

.comment-box .comment-list .list-item .text {
    line-height: 20px;
    padding: 2px 0;
    font-size: 14px;
    text-shadow: none;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word
}

.comment-box .comment-list .list-item .text img {
    vertical-align: text-bottom;
    width: 50px;
    height: 50px
}

.comment-box .comment-list .list-item .info {
    color: #99a2aa;
    line-height: 26px;
    font-size: 12px
}

.comment-box .comment-list .list-item .info > span {
    margin-right: 20px
}

.comment-box .comment-list .list-item .info .btn-hover {
    padding: 0 5px;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block
}

.comment-box .comment-list .list-item .info .btn-hover:hover {
    color: #00a1d6;
    background: #e5e9ef
}

.comment-box .comment-list .list-item .info .btn-hide, .comment-box .comment-list .list-item .info .btn-hide-re {
    visibility: hidden
}

.comment-box .comment-list .list-item .info .plad a {
    color: #99a2aa
}

.comment-box .comment-list .list-item .info .plad a:hover {
    color: #00a1d6
}

.comment-box .comment-list .list-item .info .like {
    cursor: pointer
}

.comment-box .comment-list .list-item .info .like i {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    margin-right: 5px;
    background: url(../img/icons-comment.png) no-repeat;
    background-position: -153px -25px
}

.comment-box .comment-list .list-item .info .like:hover i {
    background-position: -218px -25px
}

.comment-box .comment-list .list-item .info .like.liked:hover i, .comment-box .comment-list .list-item .info .like.liked i {
    background-position: -154px -89px
}

.comment-box .comment-list .list-item .info .hate {
    cursor: pointer;
    margin-right: 15px
}

.comment-box .comment-list .list-item .info .hate i {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    margin-right: 5px;
    background: url(../img/icons-comment.png) no-repeat;
    background-position: -153px -153px
}

.comment-box .comment-list .list-item .info .hate:hover i {
    background-position: -217px -153px
}

.comment-box .comment-list .list-item .info .hate.hated:hover i, .comment-box .comment-list .list-item .info .hate.hated i {
    background-position: -154px -217px
}

.comment-box .comment-list .list-item .info .operation {
    position: relative;
    width: 18px;
    float: right;
    margin-top: 5px;
    margin-right: 0
}

.comment-box .comment-list .list-item .info .operation .spot {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: url(../img/icons-comment.png) no-repeat;
    background-position: -151px -280px
}

.comment-box .comment-list .list-item .info .operation .spot:hover {
    background-position: -216px -280px
}

.comment-box .comment-list .list-item .info .operation .opera-list {
    display: none;
    position: absolute;
    width: 100px;
    right: 0;
    top: 20px;
    z-index: 10;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    color: #222;
    font-size: 14px;
    padding: 10px 0
}

.comment-box .comment-list .list-item .info .operation .opera-list li {
    padding: 0 15px;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    transition: all .3s
}

.comment-box .comment-list .list-item .info .operation .opera-list li:hover {
    background: #e5e9ef;
    color: #00a1d6
}

.comment-box .comment-list .list-item .info .operation.btn-hover {
    padding: 0;
    border-radius: 0;
    margin-right: 0;
    display: block
}

.comment-box .comment-list .list-item .info .operation.btn-hover:hover {
    color: none;
    background: none
}

.comment-box .comment-list .list-item .blacklist-font-color {
    color: #6d757a;
    margin-right: 10px
}

.comment-box .comment-list .list-item .reply-box .reply-item {
    padding: 10px 0
}

.comment-box .comment-list .list-item .reply-box .reply-item .hidden-reply-toggle {
    color: #6d757a
}

.comment-box .comment-list .list-item .reply-box .reply-item .quote {
    font-weight: 400
}

.comment-box .comment-list .list-item .reply-box .reply-item .reply-face {
    float: left;
    margin: 5px 0 0
}

.comment-box .comment-list .list-item .reply-box .reply-item .reply-face img {
    width: 24px;
    height: 24px;
    border-radius: 50%
}

.comment-box .comment-list .list-item .reply-box .reply-item .reply-con {
    margin-left: 34px
}

.comment-box .comment-list .list-item .reply-box .reply-item .reply-con .user .name {
    position: relative;
    top: -1px
}

.comment-box .comment-list .list-item .reply-box .reply-item .reply-con .user > a {
    position: relative;
    top: -2px
}

.comment-box .comment-list .list-item .reply-box .reply-item:hover .btn-hide-re {
    visibility: visible
}

.comment-box .comment-list .list-item .reply-box .reply-item .level {
    margin: 0 15px 0 8px
}

.comment-box .comment-list .list-item .reply-box .view-more {
    font-size: 12px;
    color: #6d757a
}

.comment-box .comment-list .list-item .reply-box .view-more .btn-more {
    padding: 2px 3px;
    border-radius: 4px
}

.comment-box .comment-list .list-item .reply-box .view-more .btn-more:hover {
    background: #e5e9ef;
    color: #00a1d6
}

.comment-box .comment-list .list-item:hover .btn-hide {
    visibility: visible
}

.comment-box .bottom-page {
    margin: 20px 0
}

.comment-box .vip-red-name {
    color: #fb7299 !important
}

.comment-box .stick {
    border: 1px solid #ff81aa;
    min-width: 30px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #ff81aa;
    border-radius: 3px;
    margin-right: 5px;
    vertical-align: middle;
    font-weight: 400
}

.comment-box .stick:after {
    content: ""
}

.comment-box .stick.true-love {
    color: #f25d8e;
    border-color: #f25d8e;
    padding: 0 2px 0 4px
}

.comment-box .stick.true-love .medal-level {
    margin-left: 4px;
    display: inline-block;
    padding: 0 3px 0 5px;
    border-left: 1px solid #f25d8e
}

.comment-box .stick.assist {
    color: #fb7299;
    border-color: #fb7299
}

.comment-box .hot-line {
    text-align: center;
    border-bottom: 1px solid #e5e9ef;
    position: relative;
    margin: 20px 0 20px 85px;
    font-size: 12px
}

.comment-box .hot-line span {
    position: absolute;
    top: -7px;
    margin-left: -115px;
    padding: 0 20px;
    background: #fff
}

.comment-box .hot-line a {
    padding: 5px 6px;
    border-radius: 4px
}

.comment-box .hot-line a:hover {
    background: #e5e9ef;
    color: #00a1d6
}

.comment-box .comment-loading {
    text-align: center;
    height: 20px;
    color: #99a2aa;
    padding-bottom: 40px;
    font-size: 12px
}

.comment-box .reply-notice {
    margin-bottom: 10px
}

.comment-box .reply-notice .notice-item {
    background-color: #fff1d3;
    border: 1px solid #f8dfaa;
    color: #e78b1f;
    padding: 10px 30px 10px 40px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 4px;
    position: relative
}

.comment-box .reply-notice .notice-item a {
    color: #e78b1f;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all
}

.comment-box .reply-notice .notice-item .icon-notice {
    background: url(../img/icons-comment.png);
    background-position: -280px -24px;
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 11px;
    left: 10px
}

.comment-box .reply-notice .notice-item .icon-close-notice {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icons-comment.png);
    background-position: -278px -86px;
    cursor: pointer
}

.comment-box .no-more-reply {
    color: #99a2aa;
    text-align: center;
    padding: 30px 0;
    font-size: 12px
}

.comment-box .nameplate {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    z-index: 1
}

.comment-box .nameplate .nameplate-icon {
    display: inline-block;
    width: 40px
}

.comment-box .nameplate:hover .nameplate-card {
    display: block
}

.comment-box .nameplate .nameplate-card {
    display: none;
    position: absolute;
    left: 42px;
    top: 1px;
    width: 322px;
    padding: 22px 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .16);
    border: 1px solid #e5e9ef;
    border-radius: 4px
}

.comment-box .nameplate .nameplate-card .nameplate-pic {
    width: 62px;
    height: 62px;
    overflow: hidden;
    float: left
}

.comment-box .nameplate .nameplate-card .nameplate-text {
    float: left;
    width: 219px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #e5e9ef;
    font-weight: 400
}

.comment-box .nameplate .nameplate-card .nameplate-text p {
    margin: 3px 0
}

.comment-box .nameplate .nameplate-card .nameplate-text .n-name {
    font-weight: 700;
    font-size: 14px
}

.comment-box .nameplate .nameplate-card .nameplate-text .n-type {
    color: #99a2aa
}

.comment-box .nameplate .nameplate-card .nameplate-text .n-type a {
    float: right;
    color: #00a1d6
}

.comment-box .nameplate .nameplate-card .nameplate-text .n-type a:hover {
    color: #00a1d6
}

.comment-box .nameplate .nameplate-card .nameplate-arrow {
    position: absolute;
    width: 7px;
    height: 13px;
    left: -7px;
    top: 10px;
    background: url("//static.hdslb.com/images/v2images/info_arrows.png")
}

.comment-box .legalize {
    height: 20px;
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 30px;
    background: url(../../dist/images/user-auth.png);
    background-repeat: no-repeat
}

.comment-box .p-auth {
    background-position: -38px -53px
}

.comment-box .o-auth {
    background-position: -4px -53px
}

.comment-box .comment-captcha {
    line-height: 50px;
    font-size: 12px
}

.comment-box .comment-captcha input {
    border-radius: 4px;
    border: 1px solid #ccd0d7;
    background-color: #fff;
    color: #45484b;
    height: 22px;
    line-height: 22px;
    margin: 0 5px;
    padding: 0 3px;
    vertical-align: middle
}

.comment-box-h5 .no-login.moral .baffle {
    height: 64px;
    box-sizing: border-box;
    line-height: 20px;
    padding-top: 13px
}

.comment-box-h5 .comment-send .user-face {
    display: none
}

.comment-box-h5 .comment-send .textarea-container {
    margin-left: 0
}

.comment-box-h5 .comment-send .comment-emoji {
    display: none
}

.comment-box-h5 .comment-list .list-item {
    border-top: 1px solid #e5e9ef
}

.comment-box-h5 .comment-list .list-item .user-face {
    margin-top: 15px
}

.comment-box-h5 .comment-list .list-item .user-face .legalize {
    top: 20px;
    left: 20px
}

.comment-box-h5 .comment-list .list-item .con {
    padding-top: 15px;
    padding-bottom: 14px
}

.comment-box-h5 .comment-list .list-item .con .user a {
    font-size: 13px
}

.comment-box-h5 .comment-list .list-item .reply-item {
    border-top: 1px solid #e5e9ef
}

.comment-box-h5 .comment-list .list-item .reply-box .reply-item .reply-con {
    margin-left: 0
}

.comment-box-h5 .comment-list .list-item .reply-box .reply-item:first-child {
    margin-top: 14px
}

.comment-box-h5 .comment-list .list-item .reply-box .reply-item:last-child {
    padding-bottom: 0
}

.comment-box-h5 .comment-list .list-item .reply-box .info .btn-hide-re {
    visibility: visible
}

.comment-box-h5 .comment-list .list-item .user-face img {
    width: 30px;
    height: 30px
}

.comment-box-h5 .comment-list .list-item .user-face .pendant {
    width: 54px;
    height: 54px;
    top: -13px;
    left: -13px
}

.comment-box-h5 .comment-list .list-item .user-face .pendant img {
    width: 54px;
    height: 54px
}

.comment-box-h5 .comment-list .list-item .user-face .hot-follow {
    margin-left: -10px
}

.comment-box-h5 .comment-list .list-item .right {
    float: right
}

.comment-box-h5 .comment-list .list-item .right span {
    font-weight: 400;
    color: #99a2aa;
    font-size: 12px
}

.comment-box-h5 .comment-list .list-item .right span.time {
    margin-left: 8px
}

.comment-box-h5 .comment-list .list-item .info .btn-hide, .comment-box-h5 .comment-list .list-item .info .btn-hide-re {
    display: none
}

.comment-box-h5 .comment-list .list-item .con {
    margin-left: 55px;
    border-top: none
}

.comment-box-h5 .comment-list .list-item .con .reply-con .right {
    float: right
}

.comment-box-h5 .comment-list .list-item .con .reply-con .right span {
    font-weight: 400;
    color: #99a2aa;
    font-size: 12px
}

.comment-box-h5 .comment-list .list-item .con .reply-con .text-con {
    display: block
}

.comment-box-h5 .bottom-page {
    margin: 20px 0;
    text-align: right
}

.comment-msg {
    position: fixed;
    top: 200px;
    height: 1px;
    z-index: 9999;
    text-align: center;
    width: 100%
}

.comment-msg span {
    display: inline-block;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 20px
}

.comment-bilibili-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 9999
}

.comment-bilibili-con {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -245px;
    margin-top: -300px;
    background: #fff;
    width: 490px;
    border-radius: 4px
}

@media (max-width: 768px) {
    .comment-bilibili-con {
        width: 90%;
        margin-left: 0;
        position: fixed;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0
    }
}

.comment-bilibili-con .t {
    text-align: center;
    font-size: 18px;
    color: #222;
    padding: 20px;
    border-bottom: 1px solid #eee
}

.comment-bilibili-con .t.no-title {
    padding: 0;
    border-bottom: none
}

.comment-bilibili-con .t .btn-close {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 20px;
    top: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s
}

.comment-bilibili-con .t .btn-close:before {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg)
}

.comment-bilibili-con .t .btn-close:after, .comment-bilibili-con .t .btn-close:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #aaa
}

.comment-bilibili-con .t .btn-close:after {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg)
}

.comment-bilibili-con .t .btn-close:hover:after, .comment-bilibili-con .t .btn-close:hover:before {
    background: #666
}

.comment-bilibili-con .con {
    padding: 20px
}

.comment-bilibili-con .con input[type=radio] {
    display: none;
    position: absolute
}

.comment-bilibili-con .con input[type=radio]:checked + label:after {
    opacity: 1
}

.comment-bilibili-con .con input[type=radio]:checked + label:before {
    border-color: #00a1d6
}

.comment-bilibili-con .con .text {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    padding: 20px 0
}

.comment-bilibili-con .con label {
    position: relative;
    display: block;
    padding-left: 22px;
    cursor: pointer;
    vertical-align: middle
}

.comment-bilibili-con .con label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: "";
    border-radius: 50%;
    border: 1px solid #bec3cc;
    transition: all .3s
}

.comment-bilibili-con .con label:after {
    position: absolute;
    opacity: 0;
    content: "";
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00a1d6;
    transition: all .3s
}

.comment-bilibili-con .reason-box {
    font-size: 12px
}

.comment-bilibili-con .reason-box dl {
    margin-bottom: 15px
}

.comment-bilibili-con .reason-box dl dt {
    color: #99a2aa;
    margin-bottom: 15px
}

.comment-bilibili-con .reason-box dl dd {
    color: #222;
    display: inline-block;
    width: 100px;
    margin: 0 10px 16px 0;
    white-space: nowrap
}

.comment-bilibili-con .reason-box dl dd input {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #bec3cc
}

.comment-bilibili-con .other {
    font-size: 12px
}

.comment-bilibili-con .other p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 8px
}

.comment-bilibili-con .other .ta {
    display: none
}

.comment-bilibili-con .other .ta textarea {
    width: 96%;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    resize: none;
    outline: none;
    transition: all .3s;
    padding: 8px;
    height: 52px
}

.comment-bilibili-con .other .ta textarea:hover {
    border-color: #99a2aa
}

.comment-bilibili-con .other .ta textarea:focus {
    border-color: #00a1d6
}

.comment-bilibili-con .btn {
    text-align: center
}

.comment-bilibili-con .btn .btn-submit {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    background: #00a1d6;
    border: 1px solid #00a1d6;
    border-radius: 4px;
    margin: 30px 0 10px;
    cursor: pointer;
    transition: all .3s
}

.comment-bilibili-con .btn .btn-submit:hover {
    background: #00b5e5;
    border-color: #00b5e5
}

.comment-bilibili-con .btn .btn-cancel {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #222;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    margin: 30px 0 10px;
    cursor: pointer;
    transition: all .3s;
    margin-right: 20px
}

.comment-bilibili-con .btn .btn-cancel:hover {
    background: #eee
}