<div class="modal-header"
     xmlns:th="http://www.thymeleaf.org">
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">×</span></button>
    <!--/*@thymesVar id="mailTemplate" type="in.hocg.web.modules.system.domain.MailTemplate"*/-->
    <h4 class="modal-title" th:text="|${mailTemplate.name}|">邮件详情</h4>
    <small th:text="|ID: [${mailTemplate.id}]|"></small>
</div>
<div class="modal-body"
     xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <a href="javascript:;" class="list-group-item" title="默认邮件主题">
                    <span class="i-mr10 i-bold">默认邮件主题</span>
                    <!--/*@thymesVar id="mailTemplate" type="in.hocg.web.modules.system.domain.MailTemplate"*/-->
                    <span th:utext="${mailTemplate.defSubject}"></span>
                </a>
                <a href="javascript:;" class="list-group-item" title="描述">
                    <span class="i-mr10 i-bold">描述</span>
                    <!--/*@thymesVar id="mailTemplate" type="in.hocg.web.modules.system.domain.MailTemplate"*/-->
                    <span th:utext="${mailTemplate.description?:@iText.danger('暂未')}"></span>
                </a>
                <a href="javascript:;" class="list-group-item" title="创建时间">
                    <span class="i-mr10 i-bold">创建时间</span>
                    <!--/*@thymesVar id="mailTemplate" type="in.hocg.web.modules.system.domain.MailTemplate"*/-->
                    <span th:utext="${@iText.format(mailTemplate.createdAt)}"></span>
                </a>
                <a href="javascript:;" class="list-group-item" title="创建时间">
                    <span class="i-mr10 i-bold">更新时间</span>
                    <!--/*@thymesVar id="mailTemplate" type="in.hocg.web.modules.system.domain.MailTemplate"*/-->
                    <span th:utext="${@iText.format(mailTemplate.updatedAt)}"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-12" th:if="${mailTemplate.param}">
            <table class="table no-m">
                <thead>
                <tr>
                    <th>参数名</th>
                    <th>默认值</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="mailTemplate" type="in.hocg.web.modules.system.domain.MailTemplate"*/-->
                <th:block th:each="param, i:${mailTemplate.param}">
                    <tr>
                        <td th:text="${param.key}"></td>
                        <td th:text="${param.value}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <!--/*@thymesVar id="mailTemplate" type="in.hocg.web.modules.system.domain.MailTemplate"*/-->
        <div class="col-xs-12" th:if="${mailTemplate.images}">
            <table class="table no-m">
                <thead>
                <tr>
                    <th>图片UID</th>
                    <th>文件</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="image, i:${mailTemplate.images}">
                    <tr>
                        <td th:text="${image.value.uploadName}"></td>
                        <td>
                            <a th:href="@{/admin/system/file/download/__${image.value.id}__(rename=${image.value.uploadName})}">下载</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <!--/*@thymesVar id="mailTemplate" type="in.hocg.web.modules.system.domain.MailTemplate"*/-->
        <div class="col-xs-12" th:if="${mailTemplate.files}">
            <table class="table no-m">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>文件</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="file, i:${mailTemplate.files}">
                    <tr>
                        <td th:text="${file.value.uploadName}"></td>
                        <td>
                            <a th:href="@{/admin/system/file/download/__${file.value.id}__(rename=${file.value.uploadName})}">下载</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>