<ol class="dd-list"
    th:fragment="tree-nodes(nodes)"
    xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="nodes" type="java.util.List<in.hocg.web.lang.utils.tree.Node<?>>"*/-->
    <li class="dd-item"
        th:each="node, i: ${nodes}"
        th:attr="data-id=${node.node.id}">
        <div class="dd-handle" th:text="${node.node.name}">Item 1-1</div>
        <ol th:if="${node.children != null}"
             th:replace="/admin/_widgets/tree-nodes::tree-nodes(${node.children})"></ol>
    </li>
</ol>