<div class="modal-header"
     xmlns:th="http://www.thymeleaf.org">
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title" th:text="|${department.name}|">单位详情</h4>
    <small th:text="|[${department.id}]|"></small>
</div>
<div class="modal-body"
     xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <a href="javascript:;" class="list-group-item" title="地址">
                    <i class="fa fa-home i-mr10"></i> <span th:utext="${department.address?:@iText.danger('暂无')}"></span>
                </a>
                <a href="javascript:;" class="list-group-item" title="联系电话">
                    <i class="fa fa-phone i-mr10"></i> <span th:utext="${department.phone?:@iText.danger('暂无')}"></span>
                </a>
                <a href="javascript:;" class="list-group-item" title="描述">
                    <i class="fa fa-sticky-note-o i-mr10"></i> <span
                        th:utext="${department.description?:@iText.danger('暂未')}"></span>
                </a>
                <a href="javascript:;" class="list-group-item" title="创建时间">
                    <span class="i-mr10 i-bold">创建时间</span><span th:utext="${@iText.format(department.createdAt)}"></span>
                </a>
                <a href="javascript:;" class="list-group-item" title="创建时间">
                    <span class="i-mr10 i-bold">更新时间</span><span th:utext="${@iText.format(department.updatedAt)}"></span>
                </a>
            </div>
        </div>
    </div>
</div>