<head th:fragment="footer-js"
      xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{/dist/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/web-lte/js/kit.js}"></script>
    <script type="text/javascript">
        $(function () {
            // 添加 CSRF 头
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            });
        });
    </script>
</head>