<head th:fragment="footer-js"
      xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{/dist/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/echarts/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/web-lte/js/kit.js}"></script>
    <script type="text/javascript">
        $(function () {
            // 添加 CSRF 头
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            });
        });
    </script>

    <script>
        $(function () {
            $(document).on('click', '.register', function () {
                layer.closeAll();
                layer.open({
                    title: '注册',
                    resize: false,
                    move: false,
                    offset: '100px',
                    shadeClose: true,
                    type: 1,
                    content: $('#register') //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                });
            });
            $('#register-form').ajaxForm({
                dataType: 'json',
                beforeSubmit: function (arr, form, option) {
                    form.find("button:submit").attr('disable', true);
                },
                success: function (data, statusText, xhr, form) {
                    if (data.code === 200) {
                        layer.closeAll();
                        layer.msg(data.message, {icon: 1});
                    } else {
                        layer.msg(data.message, {icon: 2});
                    }
                    form.find("button:submit").attr('disable', false);
                }
            });

            $(document).on('click', '.login', function () {
                layer.closeAll();
                layer.open({
                    title: '登陆',
                    resize: false,
                    move: false,
                    offset: '100px',
                    shadeClose: true,
                    type: 1,
                    content: $('#login') //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                });
            });
            $('#login-form').ajaxForm({
                dataType: 'json',
                beforeSubmit: function (arr, form, option) {
                    form.find("button:submit").attr('disable', true);
                },
                success: function (data, statusText, xhr, form) {
                    if (data.code === 200) {
                        layer.msg(data.message, {icon: 1});
                        window.location.reload();
                    } else {
                        layer.msg(data.message, {icon: 2});
                    }
                    form.find("button:submit").attr('disable', false);
                }
            });
        });
    </script>
</head>