<div th:fragment="login-register"
     style="position: fixed; top: -100000px;z-index: 1989101412"
     xmlns:th="http://www.thymeleaf.org">
    <div id="register">
        <form id="register-form" action="/register" method="POST">
            <div class="login-wrapper">
                <div class="input-group">
                    <div class="input-box">
                        <input class="input" name="nickname" type="text" placeholder="请输入用户名" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input class="input" name="email" type="email" placeholder="请填写邮箱" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input class="input" name="password" type="text" placeholder="请输入密码" required>
                    </div>
                </div>
                <button type="submit" class="btn">注册</button>
                <div class="prompt-box center"><span class="clickable login">已有账号登录</span></div>
            </div>
        </form>
    </div>
    <div id="login">
        <form id="login-form" th:action="@{/login.html}" method="POST">
            <div class="login-wrapper">
                <div class="input-group">
                    <div class="input-box">
                        <input class="input" type="email" name="username" placeholder="请填写邮箱" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input class="input" type="text" name="password" placeholder="请输入密码">
                    </div>
                </div>
                <button type="submit" class="btn">登陆</button>
                <div class="prompt-box">
                    没有账号?
                    <span class="clickable register">注册</span>
                    <a href="/reset-password" class="right clickable">忘记密码</a>
                </div>
            </div>
        </form>
    </div>
</div>