<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">爱天气</title>
    <link rel="stylesheet" th:href="@{/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/web-lte/css/comment.css}">
    <link rel="stylesheet" th:href="@{/web-lte/css/loading.css}">
    <link rel="stylesheet" th:href="@{/web-lte/css/search.css}">
    <link rel="stylesheet" th:href="@{/web-lte/css/login-register.css}">
    <link rel="stylesheet" th:href="@{/web-lte/css/weather-app.css}">

    <script type="text/javascript" th:src="@{/dist/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/dist/moment/moment.js}"></script>
    <script type="text/javascript" th:src="@{/dist/holder/holder.js}"></script>
    <script type="text/javascript" th:src="@{/web-lte/js/comment.widget.js}"></script>
    <script type="text/javascript" th:src="@{/dist/echarts/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/web-lte/js/kit.js}"></script>
    <script type="text/javascript">
        $(function () {
            // 添加 CSRF 头
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            });
        });
    </script>
</head>
<body>
<header th:replace="/web/_fragments/top-menu :: top-menu"></header>
<div th:replace="/web/_fragments/login-register:: login-register"></div>
<div layout:fragment="content"></div>
<div th:replace="/web/_fragments/main-footer::main-footer"></div>
</body>
</html>