<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="@{/admin/fragments/meta}::meta"/>
    <title>AdminLTE 2 | Dashboard</title>
    <css th:replace="@{/admin/fragments/all-css} :: all-css"></css>
    <js th:replace="@{/admin/fragments/head-js} :: head-js"></js>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:replace="@{/admin/fragments/header}::header"></div>
    <!-- Left side column. contains the logo and sidebar -->
    <div th:replace="@{/admin/fragments/left-menu}::left-menu"></div>

    <!-- Content Wrapper. Contains page content -->
    <div  id="pjax-container" class="content-wrapper">
        <!-- 位置提示 -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- 内容区域 -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
            </div>
            <!-- /.row -->
        </section>
        <!-- /内容区域 -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="@{/admin/fragments/main-footer}::main-footer"></div>

    <!-- Control Sidebar -->
    <div th:replace="@{/admin/fragments/right-setting}::right-setting"></div>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<js th:replace="@{/admin/fragments/footer-js}::footer-js"></js>
</body>
</html>
