<th:block
        xmlns:th="http://www.thymeleaf.org"
        layout:fragment="alert"></th:block>
<div id="upload-1" class="container-fluid upload-wrapper">
    <div class="center-block">
        <div class="row">
            <div class="col-md-12">
                <div class="upload-area">
                    <p class="text-sub text-center">请选择需要上传的文件</p>
                </div>
                <div>
                    <ul class="upload-tip">
                        <!--<li>不能上传超过 500M 的文件</li>-->
                    </ul>
                    <div class="upload-btn">
                        选择文件
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">-->
            <!--参数设置-->
            <!--</div>-->
        </div>
    </div>
</div>